* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
.hero {
  background-color: #37517e;
  min-height: 100vh;
}
.heroimg {
  animation: updown 1.5s linear 0s infinite alternate;
}
@keyframes updown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5px);
  }
}
.confluid1 {
  background-color: #f5f6f8;
}
.aboutheading {
  position: relative;
}
.line {
  width: 15%;
  height: 1px;
  background-color: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.innerline {
  background-color: #47b2e4;
  width: 50%;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}
.aboutheading h2 {
  color: #37517e;
}
.sec2,
.sec8, .sec10, .sec11 .container, .sec12{
  background-color: #f5f6f8;
}
.sec2cont h2 {
  color: #37517e;
}
.sec4 {
  background-color: #f5f6f8;
}
h2 {
  color: #37517e;
}
.card h4 {
  color: #37517e;
}
.progress-bar {
  background-color: #37517e;
}

.work-card:hover .work-img {
  scale: 1.2;
}
.work-img {
  transition: all 0.3s;
}
.work-card {
  overflow: hidden;
}
.content {
  z-index: 1;
  transition: all 0.3s;
}
.work-card:hover .content {
  transform: translateY(-10px);
}
.CTA {
  background: linear-gradient(
      to right,
      rgba(55, 81, 126, 0.372),
      rgba(55, 81, 126, 0.459)
    ),
    url("https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp")
      fixed;
}
.img-animate:hover .about-img-animate {
  transform: translateY(-100%);
}
.about-img-animate {
  background-color: rgba(255, 255, 255, 0.736);
  transition: all 0.5s;
}
.sec7 .sec7-cont .col-lg-12 .btn:hover,
.sec7 .sec7-cont .col-lg-12 .btn:focus {
  background-color: #47b2e4;
  font-weight: bold;
  color: white;
}

.sec8-about h4 {
  color: #37517e;
}
.sec8-about h5,
.sec8-about p {
  font-weight: 350;
}
.sec8-sm-icons div {
  background-color: #f4f4f4;
}
.sec8-sm-icons div:hover {
  background-color: #47b2e4;
}
.sec8-sm-icons div:hover i {
  color: white !important;
}
.sec8 .card {
  margin: 1rem;
}
.sec9 h4 {
  color: #37517e;
}
.sec12-cont .card:hover .abcd{
  scale: 1.2;
}
.sec12-cont .card{
  overflow: hidden;
}
.date{
  width: max-content;
  z-index: 2;
}
.blogimg{
  z-index: 0;
  overflow: hidden;
}
.blog-card:hover .blog-image{
  scale: 1.3;
}
.blog-card:hover .blogcontent h4, .blog-card:hover .blog-btn{
  color: #47b2e4 !important;
}
.services-card:hover .services-h{
  color: #47b2e4;
}
.services-card:hover{
  transform: translateY(-2%);
}
.contact-card{
  border-top: 2px solid #47b2e4 !important;
  border-bottom: 2px solid #47b2e4 !important;
  border: 0;
}
.card-crd{
  height: 50px;
  width: 50px;
  clip-path: circle();
}
.contact-left-card:hover .bi-geo-alt{
  color: white !important;
} 
.contact-left-card:hover .card-crd{
  background-color: #47b2e4 !important;
}
.card-crd{
  background-color: #F1F9FD;
}
.contact-left-card2{
  line-height: 0.3rem;
}